section {
    background-color: rgb(207, 231, 168);

    border: 1px solid black;
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.webpage-url {
    border-right: 2px solid black;    

    width: 30%;
}

h3 {
    overflow: hidden;
}

li {
    list-style-type: none;
}

